<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducaWeys</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/gorro.png" type="image/png">
</head>
<body>
    <header>
        <h1>Bienvenido a EducaWeys</h1>
        <h2>Tu plataforma de educación en línea</h2>
        <nav>
                <a href="https://esit.gob.sv/">Cursos</a>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>Sobre nosotros</h2>
            <p>En EducaWeys, nos dedicamos a ofrecer herramientas de educacion para ayudarte a alcanzar tus metas educativas y profesionales, a traves de las herramientas de nuestra página web, podras ir aprendiendo de manera continua y clara para que tengas un mejor desempeño.</p>
            <center> <img src="https://www.ceupe.com/images/easyblog_articles/3498/b2ap3_large_beneficios-de-la-educacion-online.jpg" alt="Soluciones para el Planeta"> </center>
        </section>

        <section id="tools">
    <h2>Herramientas de Educación</h2>
    <div class="tools-container">
        <div class="tool-card">
            <img src="/static/images/canva.jpeg" alt="Canva">
            <h3>Canva</h3>
            <p>Herramienta de diseño gráfico para crear presentaciones y materiales educativos.</p>
            <span class="rating">⭐ 4.9</span>
            <a href="https://www.canva.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/classroom.png" alt="Google Classroom">
            <h3>Google Classroom</h3>
            <p>Herramienta muy buena para la organizacion de clases en linea.</p>
            <span class="rating">⭐ 4.6</span>
            <a href="https://classroom.google.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/zoom.png" alt="Zoom">
            <h3>Zoom</h3>
            <p>Plataforma de videoconferencias para clases y reuniones en línea.</p>
            <span class="rating">⭐ 4.5</span>
            <a href="https://zoom.us/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/prezi.png" alt="Prezi">
            <h3>Prezi</h3>
            <p>Herramienta muy practica para crear presentaciones bien elaboradas.</p>
            <span class="rating">⭐ 4.7</span>
            <a href="https://prezi.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/quizlet.png"alt="Quizlet">
            <h3>Quizlet</h3>
            <p>Plataforma para crear tarjetas de estudio y practicar conceptos.</p>
            <span class="rating">⭐ 4.8</span>
            <a href="https://quizlet.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/udemy.png" alt="Udemy">
            <h3>Udemy</h3>
            <p>Ofrece cursos en línea sobre una amplia variedad de temas.</p>
            <span class="rating">⭐ 4.6</span>
            <a href="https://www.udemy.com/" target="_blank"><button>Ver</button></a>
    </div>
    <div class="tool-card">
            <img src="/static/images/duolingo.png" alt="Duolingo">
            <h3>Duolingo</h3>
            <p>Aprender idiomas nunca fue tan divertido e interactivo como en Duolingo.</p>
            <span class="rating">⭐ 4.8</span>
            <a href="https://www.duolingo.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/coursera.png" alt="Coursera">
            <h3>Coursera</h3>
            <p>Cursos universitarios y empresarios a nivel mundial en linea.</p>
            <span class="rating">⭐ 4.7</span>
             <a href="https://www.coursera.org/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/code.png" alt="Codecademy">
            <h3>Codecademy</h3>
            <p>Si quieres empezar a programar y aprender desde cero, este es tu lugar ideal.</p>
            <span class="rating">⭐ 4.6</span>
            <a href="https://www.codecademy.com/" target="_blank"><button>Ver</button></a>
        </div>
        <div class="tool-card">
            <img src="/static/images/khan.png" alt="Khan Academy">
            <h3>Khan Academy</h3>
            <p>Educacion gratis para todo tipo de publico.</p>
            <span class="rating">⭐ 4.8</span>
            <a href="https://www.khanacademy.org/" target="_blank"><button>Ver</button></a>
        </div>
</section>
    </main>

     <footer>
        <p>&copy; 2025 EducaWeb. Todos los derechos reservados.</p>
     </footer>   
    
</body>
</html>